.container {
  min-height: 100vh;
  background-color: aqua;
}

.article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  margin: 1rem 0;
  width: 100%;
}

.article img:first-child {
  max-width: 40%;
  height: 60rem;
  object-position: top;
}
.article img:last-child {
  max-width: 45%;
  height: auto;
}

.article div {
  width: 40rem;
  margin: 0 2%;
}

.article p {
  font-size: 2rem;
  line-height: 2.4rem;
}