.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  height: 10vh;
  background-color: #171717;
}

.imgContainer {}

.imgContainer img {
  width: 11rem;
  height: 4.5rem;

  margin: 1rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}

.header nav {}

.header ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

.header li {}